<h2><%= @task.title %></h2>
<h4><%= @task.details %></h4>
<h4><%= @done %></h4>
<h5><%= link_to 'See all tasks', tasks_path%></h5>
<h5><%= link_to 'Edit task', edit_path%></h5>
<h5><%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %><h5>
